flows/question1.yaml
id: q1
namespace: zoomcamp-module-2-hw
description: |
  This just logs the size of the uncompressed file.
  CSV data used here comes from: https://github.com/DataTalksClub/nyc-tlc-data/releases

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: ["yellow", "green"]
    defaults: "yellow"

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2020", "2021"]
    defaults: "2020"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "12"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"

tasks:
  - id: set_label
    type: io.kestra.plugin.core.execution.Labels
    labels:
      module: "module-2-hw"
      file: "{{render(vars.file)}}"
      taxi: "{{inputs.taxi}}"

  - id: extract
    type: io.kestra.plugin.scripts.shell.Commands
    outputFiles:
      - "*.csv"
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    commands:
      - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{render(vars.file)}}.gz | gunzip > {{render(vars.file)}}

  - id: log_file_size
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    inputFiles:
      file.csv: "{{ outputs.extract['outputFiles'][render(vars.file)] }}"
    commands:
      - ls -lh file.csv

  - id: log_file_size_2
    type: io.kestra.plugin.scripts.shell.Commands
    taskRunner:
      type: io.kestra.plugin.core.runner.Process
    inputFiles:
      "{{ render(vars.file) }}": "{{ outputs.extract['outputFiles'][render(vars.file)] }}"
    commands:
      - stat -c %s {{ render(vars.file) }} | awk '{ printf "%.1f MiB\n", $1/1024/1024 }'

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles
    description: If you'd like to explore Kestra outputs, disable it.
    disabled: false
