flows/sample_output_subflow.yaml
id: sample_output_subflow
namespace: zoomcamp-trial
description: |
  Logs the inputs, and generates a random integer between 1 and 10.
  This is for testing the forEach loop.

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [yellow, green]
    defaults: green

  - id: year
    type: SELECT
    displayName: Select year
    values: ["2019", "2020", "2021"]
    defaults: "2019"

  - id: month
    type: SELECT
    displayName: Select month
    values: ["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12"]
    defaults: "01"

variables:
  file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{inputs.month}}.csv"

tasks:
  - id: log_inputs
    type: io.kestra.plugin.core.debug.Return
    format: |
      Taxi: {{inputs.taxi}}
      Year: {{inputs.year}}
      Month: {{inputs.month}}
      File: {{render(vars.file)}}

  - id: return_random_int
    type: io.kestra.plugin.core.debug.Return
    format: "{{randomInt(1, 10)}}"

outputs:
  - id: final_number
    type: INT
    value: "{{ outputs.return_random_int.value }}"
